.legacy-nav {
    position: relative;
    margin: 50px auto 0;
    width: 850px;
    height: 50px;
    background: #fafafa;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.legacy-nav a {
    font-size: 15px;
    color: black;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 425px;
    text-align: center;
}

.legacy-nav a:link {
    text-decoration: none;
}

.legacy-nav a:hover {
    text-decoration: none;
    color: black;
}

.legacy-nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: #659bdf;
    border-radius: 8px;
    transition: all 0.5s ease 0s !important;
}

.legacy-nav .start-brainAgeModel,
.legacy-nav a:nth-child(1):hover ~ .animation {
    width: 425px;
    left: 0;
}

.legacy-nav .start-ownData,
a:nth-child(2):hover ~ .animation {
    width: 425px;
    left: 425px;
}
