/* 
.enlarge-hover {
    display: inline-block;
    transition: transform 0.5s ease-in-out; /* controls speed & smoothness
}

.enlarge-hover:hover {
    transform: scale(1.01); /* 1.0 = normal size, 1.1 = 10% bigger 
}*/ 
