@import '../Explore/explore.css';

.MuiAccordion-root {
    background-color: transparent !important;
    box-shadow: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0 !important;
}

.MuiAccordion-root:before {
    display: none !important; 
}

.MuiAccordion-root:last-child {
    border-bottom: none;
}

.MuiAccordionSummary-root {
    padding: 0 32px !important;
    min-height: 88px !important;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.MuiAccordionSummary-root:hover {
    background-color: rgba(0, 21, 41, 0.03);
}

.MuiAccordionSummary-content {
    margin: 24px 0 !important;
}

.MuiAccordionSummary-expandIcon {
    color: #659bdf !important; 
}

.MuiAccordionDetails-root {
    padding: 16px 32px 48px 32px !important;
}